/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

div.newsletter-container section.personal-info ul li input[type="text"],
section ul li input[type="email"]
 {
	flex: 4 0 24em;
	box-sizing: border-box;
}

div.newsletter-container section.personal-info ul li label{
	flex: 0 0 8em;
}
div.newsletter-container section.personal-info ul li{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
}

div.newsletter-container ul{
list-style-type: none;
	padding: 0;
}
div.newsletter-container section.newsletter ul{
	display:flex;
	flex-wrap: wrap;
}

div.newsletter-container section.newsletter ul li{
	flex: 1 0 15em;
}
div.newsletter-container section {
    background: rgb(252, 244, 208);
    padding: 1em;
    margin-bottom: 1em;
}

div.newsletter-container h2{
    font-family: mansalva, sans-serif;
    font-size: 1.2em;
}
div.newsletter-container section p {
	margin-top: 0;
}

div.newsletter-container h3{
	margin-top: 2em;
	margin-bottom: 0;
}

div.newsletter-container textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 6em;
	border: 1px solid #e8e8e8;
	padding: 0.4em;
	font-family: clother, sans-serif;
	}

button{
    background-color: rgb(164, 20, 63);
    color: rgb(255,255,255);
    padding: .25em;
}

    div.newsletter-container main{
        padding: 1em;
    }
div.gallery-container {
    max-width: 60em;
    margin: 0 auto;
    padding: 1em;
}
div.gallery-container main{
      position: relative;
    overflow: hidden;  
     padding-bottom: calc(70% + 5em);
}

div.gallery-container figure{
    margin: 0;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
}

div.gallery-container figcaption {
    font-size: 1.2em;
    font-weight: bold;
    font-family: clother, sans-serif;
    margin: 1em 0;
    color: rgb(147, 175, 144);
}


div.gallery-container input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}

div.gallery-container nav.photo {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: .2em;
    margin-bottom: 5em;
}


div.gallery-container input {
    display: none;
}

div.home-container, div.container, div.newsletter-container{
    max-width: 37em;
    margin: auto;
}

ul li{
list-style-type: none;
font-weight: bold;
padding: .25em 0em;
}


h2{
    font-family: sister-frisky, sans-serif;
    font-style: normal;
    color: rgb(164, 20, 63);
    margin: 0em .3em;
}

aside h2{
    color: rgb(147, 175, 144);
    font-family: mansalva, sans-serif;
}

section.tertiary h2{
    font-family: mansalva, sans-serif;
    border-top: 1px solid rgb(147, 175, 144);
    padding: .5em 0em .2em;
    margin: 0em .6em;
}

section.secondary h2{
    font-size: 1.5em;
    padding: .15em 0em;
    color: rgb(141, 174, 219);
    font-family: "mansalva", sans-serif;
}

section.mainstory h2 {
    font-size: 2.5em;
    margin: 0em .2em;
}

article h2 {
    font-size: 3em;
    margin: 1.5em .25em .25em;
}

p{
  font-family: clother, sans-serif;
  color: rgb(0, 0, 0);
  margin: 0em .6em 1.5em;
  line-height: 1.5;
}

article p{
    margin-top: 1em;
}

aside section.secondary p{
    margin-bottom: 2em;
}
nav{
    font-family: mansalva, sans-serif;
    font-size: 1.3em;
}

nav ul li a{
    color: rgb(43, 6, 61);
}

h1{
    width: 18em;
    margin-bottom: 1em;
}

a{
    text-decoration: none;
}

header{
margin: .6em;
}

aside{
       background-color: rgb(252, 244, 208);
    padding: 1em .5em;
    margin-top: 1em;
}
figcaption{
    margin: .2em .6em;
    color: rgb(126, 126, 126);
    font-family: clother, sans-serif;
    font-style: italic;
    line-height: 1.2;
}


footer{
  width: 100%;
  bottom: 0;
  height: 3em;
  box-sizing: border-box;
  padding: 1em 0em;
  background: rgb(43, 6, 61);
}

div.gallery-container h2{
font-size: 2.5em;
}

label{
    font-family: clother, sans-serif;
}

footer p{
    color: rgb(255,255,255);
}
@media screen and (min-width: 37em) {
    nav ul li{
        display: inline;
        padding-right: 1em;
    }
    header, p, h2, section.tertiary h2, section.mainstory h2, article h2, figcaption{
        margin-left: 0em;
        margin-right: 0em;
    }

}
@media only screen and (min-width: 60em){

    div.home-container{
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container{
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.newsletter-container, div.gallery-container{
        max-width: 60em;
        padding: 0 1em;
        margin: auto;
    }

    div.container aside{
        margin-top: 0;
    }

    header, footer{
        grid-column: 1/3;
    }

    div.home-container main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    main section.mainstory{
            background-color: rgb(252, 244, 208);
            padding: 1em;
    }

    div.home-container aside{
        background: none;
        padding: 0;
        margin-top: 0;
    }

    section.mainstory{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img{
        object-fit: cover;
    }

    section.mainstory a h2{
        flex: 0 0 1em;
    }

    section.mainstory a p{
        flex: 0 0 4em;
    }


    section.secondary{
        display: flex;
    }

    section.secondary a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary a figure img{
        object-fit: cover;
    }

    section.secondary a h2{
        flex: 0 0 1em;
    }

    section.secondary a p{
        flex: 0 0 4em;
    }
}

@media screen and (prefers-color-scheme: dark) {
    h1 {  
        background-image: url("logo-alt.svg");  
        background-repeat: no-repeat;  
        background-size: contain; 
    }
    h1 img {  
        opacity: 0;  
    } 
nav ul li a{
    color: rgb(252, 244, 208);
} 
h2{
    color: rgb(141, 174, 219);
}
section.secondary h2{ 
    color: rgb(147, 175, 144);
}
aside{
    background-color: rgb(43, 6, 61);
}
main section.mainstory{
    background-color: rgb(43, 6, 61);
}
aside h2{
    color: rgb(141, 174, 219)
}
section.tertiary h2{
    border-top: 1px solid rgb(141, 174, 219);
}
footer{
    background-color: rgb(252, 244, 208);
}
footer p{
    color: rgb(164, 20, 63);
}
p{
    color: rgb(255,255,255);
}
div.newsletter-container section {
    background: rgb(164, 20, 63);
}
button{
    background-color: rgb(141, 174, 219);
    color: rgb(164, 20, 63);
}
section.newsletter label, section.personal-info label{
    color: rgb(255,255,255);
}
body {
        background-color: rgb(22, 22, 22);
}
}
